:root{
    font-size: 18;
    --text-logo:'Nova Flat', cursive;
    --text-primary:'Poppins', sans-serif;
    --font-golden:#856404;
    --font-secondary:#6c757d;
    @media (max-width:500px) {
        font-size: 16;
    }
}
// loading spinner

//spinner till loading
body{
    overflow: hidden;
    background-color: #f1f1f1;
}
.spinnerContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 99999999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
 

//end of loading spinner
aside{
    &{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out;
        background-color: #34495e;
        z-index: 99999;
    }
    >h2{
        font-size: 1.5rem;
        font-family: var(--text-primary);
    }
    .asideContainer{
       max-height: 80%;
       overflow: auto;
       max-width: 90%;
       
       .msg-item-container{
           &{
               overflow: auto;
           }
            .msg-item{
                cursor: pointer;
                font-size: 1.2rem;
                font-family: var(--text-primary);
                color:#fff;
                font-weight: 600;
            }
       }
    }
    .asideIcon{
        position: absolute;
        top: 50%;
        right: -50px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #1e7e34;
        &:hover{
            transform:rotate(90deg);
        }
    }
}

.asideView{
    transform: translateX(0);
}

//chat of admin Styles
.adminChatContainer{
    position: fixed;
    top: 150px;
    bottom: 0;
    right: 15px;
    max-width: 30vw;
    transition: transform 0.5s ease-in-out;
    transform: translateX(110%);
    background-color: #17a2b8;
    overflow: auto;
    border-radius: 10px;
    @media (max-width:500px) {
        max-width: 90vw;
 
    }
    @media (min-width:501px)and(max-width:911px) {
        max-width: 50vw;
        
    }
    .close-chat{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #e9ecef;
        cursor: pointer;
    }
    .msgInput{
        &{
            position: relative;
        }
        #msg{
            
        }
        .msgIcon{
            position: absolute;
            right: 22px;
            top: 11px;
            cursor: pointer;
        }
    }
}
